@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

* {
    font-family: 'Slabo 27px', Roboto, sans-serif;
}

body {
    background: rgb(53, 52, 52);
}

/* LOGIN PAGE */

.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

div.landing-page-wrapper {
    width: 70%;
    height: 90vh;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

h1.landing-page-heading {
    margin: 10vh;
    font-size: 20vh;
    color: coral;
    position: relative;
    text-align: center;
}

div.landing-page-inputs {
    margin: 10vh;
    margin-bottom: 15vh;
}

input.username-input {
    margin: 10px;
    padding: 15px;
    border: none;
    border-bottom: 5px solid coral;
    border-radius: 10%;
    width: 70%;
    text-align: center;
    background: rgb(53, 52, 52);
    font-size: 4em;
    color: coral;
}

input.username-input::placeholder {
    color: coral;
}

input.username-input:focus {
    outline: none;
}

button.submit-btn {
    margin: 10px;
    background: none;
    border: none;
}

button.submit-btn:before {
    display: inline-block;
    width: 2rem;
    margin-left: .5rem;
    content: "▶";
    font-size: 3em;
    color: coral;
    -webkit-text-fill-color: coral;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform .2s;
}

button.submit-btn:hover {
    transform: scale(1.1);
}

button.submit-btn:focus {
    outline: none;
}

button.submit-btn:active {
    transform: scale(.97);
}

/* MAIN PAGE */

div.main-page-wrapper {
    width: 70%;
    height: 90vh;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button.big-btn {
    cursor: pointer;
    margin: 2%;
    background: none;
    border: none;
    color: coral;
    font-size: 6em;
    outline: none;
    font-weight: 600;
}

/* QUIZ PAGE */

div.quiz-wrapper {
    width: 70%;
    height: 90vh;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button#quiz-button {
    cursor: pointer;
    margin: 15px;
    background: none;
    border: none;
    color: coral;
    font-size: 4em;
    outline: none;
}

div#quiz-question-section {
    font-size: 3em;
    color: coral;
    margin: 15px;
    text-align: center;
    letter-spacing: 2px;
    min-height: 20%;
}

div#quiz-answers-section {
    font-size: 1.5em;
    color: coral;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 20vh;
}

div#quiz-answers-section ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

div#quiz-answers-section li {
    list-style: none;
    width: 45%;
    margin: 11px;
    border: solid 1px rgb(29, 29, 29);
    background: rgb(29, 29, 29);
    border-radius: 20px;
    padding: 13px;
    cursor: pointer;
    text-align: center;
}

div#quiz-answers-section li:hover {
    background: rgba(104, 86, 78, 0.671);
    border-color: rgba(104, 86, 78, 0.671);
}

button#quiz-button {
    margin-top: 50px;
}

div#quiz-answers-section li.correct-answer {
    background: rgb(66, 95, 66);
    border: solid 1px rgb(66, 95, 66);
}

div#quiz-answers-section li.wrong-answer {
    background: rgb(107, 59, 59);
    border: solid 1px rgb(107, 59, 59);
}

/* RESULT PAGE */

.big-text {
    margin: 10vh;
    font-size: 10vh;
    color: coral;
    position: relative;
    text-align: center;
    font-weight: 600;
}

div.result-page-wrapper {
    width: 70%;
    height: 90vh;
    margin: auto;
    position: relative;
    text-align: center;
}

div#result-page-buttons {
    display: flex;
    justify-content: space-between;
}

h1#quiz-result {
    margin: 10vh;
    font-size: 20vh;
    color: coral;
    position: relative;
    text-align: center;
}

button.back-button {
    cursor: pointer;
    margin: 15px;
    background: none;
    border: none;
    color: coral;
    font-size: 4em;
    outline: none;
}

/* HIGHSCORES */

div.highscores-inner-content {
    display: flex;
    justify-content: space-around;
    height: 50%;
    overflow: auto;
}

div.highscores-wrapper {
    width: 70%;
    height: 90vh;
    margin: auto;
    position: relative;
    text-align: center;
}

div.highscores-inner-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

div.highscores-inner-content ul li {
    color: coral;
    font-size: 3em;
    margin: 10px;
}

/* SCROLLBAR */

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    border-color: grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: coral;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 78, 49);
}